<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Go Catch Randomizer</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col justify-center items-center bg-zinc-900 min-h-screen text-zinc-300 text-center text-sm"
  >
    <main class="rounded-lg shadow-md bg-zinc-800 p-6 w-full max-w-lg">
      <a href="/"
        ><h1 class="mb-2 text-zinc-50 text-3xl font-bold">
          Let's Go Catch Randomizer
        </h1></a
      >

      <div>
        <p>
          Welcome to the Let's Go Catch Randomizer! This tool can be used to
          generate a Tracker File containing 50 random, obtainable Pokémon. The
          intent is for you, the player, to use only those 50 Pokémon to play
          through the Pokémon Let's Go games!
        </p>
      </div>

      <hr class="my-6 border-t border-zinc-700" />

      <form action="/randomize">
        <div>
          <h2 class="text-zinc-50 text-xl font-semibold">Settings</h2>
          <div class="text-left">
            <label for="allowedOnePct" class="text-zinc-50 text-sm font-medium"
              >Allowed One Percent:</label
            >
            <div class="flex space-x-4">
              <label class="flex space-x-2">
                <input type="radio" name="allowedOnePct" value="0" required />
                <span>0</span>
              </label>
              <label class="flex space-x-2">
                <input type="radio" name="allowedOnePct" value="1" required />
                <span>1</span>
              </label>
              <label class="flex space-x-2">
                <input type="radio" name="allowedOnePct" value="2" required />
                <span>2</span>
              </label>
              <label class="flex space-x-2">
                <input type="radio" name="allowedOnePct" value="3" required />
                <span>3</span>
              </label>
              <label class="flex space-x-2">
                <input
                  type="radio"
                  name="allowedOnePct"
                  value="unlimited"
                  required
                />
                <span>Unlimited</span>
              </label>
            </div>
            <p class="mt-1">
              Use this to restrict the amount of 1% encounters (e.g.
              Kangaskhan).
            </p>
          </div>
        </div>

        <hr class="my-6 border-t border-zinc-700" />

        <button
          type="submit"
          class="w-full rounded-lg bg-blue-700 py-2 px-4 text-zinc-50 font-bold hover:bg-blue-600"
        >
          Generate
        </button>
      </form>
    </main>
  </body>
</html>
